.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Offer-list {
  color: black;
}

.Offer-item {
  min-height: 50px;
  margin-left: 15px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: left;
  font-size: 12px;
}
